.container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: var(--background-color);
  border: 2px dashed var(--snake-color);
}

.dead-message {
  display: grid;
  place-content: center;
  height: 100%;
}
