:root {
  --background-color: #bac601;
  --snake-color: #706101;
}

.app {
  background-image: url('https://cdn.dribbble.com/users/71773/screenshots/4584976/media/26babdc72af820527e259982f22a09ab.png');
}
